:host {
    font-family: Arial, Helvetica, sans-serif;
    color: #2c2c2c;
    .input-group {
        margin-bottom: 20px;
    }
    .upload-message {}
    .outer-form-container {
        // background: #212529;
    }
    .upload-progress {
        width: 100%;
    }
    .modal-header {
        width: 100%;
    }
    .modal-body {
        width: 100%;
    }
    .modal-footer {
        width: 100%;
    }
}