/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
body {
    background: black;
    .sign-up-button {
        font-size: 30px;
        margin-top: 20px;
    }
}